rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /boards/{boardId} {
      allow get: if true;
      allow list: if false;
      allow create, update: if isValidBoard(request.resource.data);
      allow delete: if true;
    }
  }
}

function isValidBoard(data) {
  return data.keys().hasOnly(['updatedAt', 'name', 'flowOrder', 'flows'])
    && data.updatedAt is timestamp
    && data.name is string
    && data.flowOrder is list
    && data.flows is map;
}
